
		<div id="content">
			<img id="barre" src="/resources/assets/images/12.png"/>
			<img id="barre_phone" src="/resources/assets/images/check.png"/>
			<div class="triangle"></div>
			<div class="formulaire">
				<form id="validateTokenForm"  novalidate   data-parsley-validate="">
					<p>ادخل رمز التحقق</p>
					<p style="direction: ltr;">
						<input type="text" ng-model="token"  required="" /><br>
						<span ng-if="!bad(invalidTokenMessage)" class="danger">{{invalidTokenMessage}} </span>
					</p>
					<button type="submit"> ارسال</button>
				</form>
			</div>
		</div>
