<div class="formulaire" style="max-height: 300px">

    <form id="forgetPasswordForm" name="forgetPasswordForm" novalidate autocomplete="off" data-parsley-validate=""  ng-submit="forgetPassword()">
        <div ng-show="!submitted">
            <p><label for="mobileNumber"> (05) رقم الجوال</label> <span class="requried">*</span> :
                <input type="text" name="mobileNumber" id="mobileNumber" ng-model="mobileNumber" required
                maxlength="10"       data-parsley-error-message="هذا الحقل مطلوب"/></p>
            <p style="    margin-top: 5px;margin-left: -92px;">
                <button type="submit">إرسال</button>
            </p>
        </div>
        <div ng-if="submitted">
            <p><label for="pseudo">تم إرسال كلمة المرور الجديدة الى هاتفك المحمول </label>
            <p style="    margin-top: 5px;margin-left: -92px;">
                <a href="#/login"> تسجيل الدخول</a>
            </p>
        </div>


    </form>


</div>