<style type="text/css">
    input {
        height: 15px;
        width: 15px;
    }

    form h4, form p {
        text-align: right;
    }
</style>


<div class="formulaire">
    <form>
        <h3 style="font-size: 36px !important;">جوائز المسابقة</h3>
        <hr>
        <div ng-if="!bad(image)">
        <img style="width: 50%" ng-src="{{'resources/image/'+image.imageName}}">
        </div>
            <p ng-repeat=" item in prizes">- {{item.description}}</p>
        <br/>
    </form>
</div>

