<div id="navigation" style="margin-top: -200px">
    <button ng-repeat="  item in subjects" type="button" ng-click="setSubject($index)">
        <b> {{$index+1}}</b>
        <span>
        {{item.name}}
         </span>
    </button>
</div>
<div class="videoWrapper">

    <div ng-if="!bad(videoSource)">

        <subject-video video-source="videoSource"></subject-video>

    </div>

</div>
<div id="course">
    <div id="statut"><b>{{currentSubject+1}} </b><span>{{subjects[currentSubject].name}}</span></div>
    <form id="testForm" name="testForm" autocomplete="off" novalidate data-parsley-validate
          ng-submit="submitAnswers()" style="width: 100%!important;padding: 0px !important;">
        <div class="scrollbar" id="style-2">
            <div class="force-overflow" ng-repeat=" item in questions  "
                 ng-hide="item.subjectId!=subjects[currentSubject].id">
                <div ng-if="item.type=='multichoice'" style="text-align: right;padding-right: 30px">
                    <p>
                    <h5>{{item.title}}</h5>
                    <span style="font-weight: bold "> {{item.question}}</span>
                    <div ng-repeat=" item2  in item.answers" style="text-align: right ;padding-right: 30px">
                        <input type="radio" name="{{item.question}}" ng-model="item.answerId" value="{{item2.id}}"
                               ng-required="!item.answerId" id="radio{{$index +'-'+ item.subjectId}}" style="width: 100px !important;"  data-parsley-error-message="هذا الحقل مطلوب"/>
                        <label>{{item2.answer}}</label><br/>

                    </div>
                    </p>
                </div>
                <p style="width: 100% !important;">
                <div ng-if="item.type=='fillGap'" style="text-align: right;padding-right: 30px">
                    <h5>{{item.title}}</h5>
                    <display-gap item="item"></display-gap>
                </div>
                </p>

                <p>
                <div ng-if="item.type=='wQuestion'" style="text-align: right;padding-right: 30px">
                    <h5>{{item.title}}</h5>
                <span style="font-weight: bold "> {{item.question}}</span> <br>
                <textarea  ng-model="item.answer" maxlength="1024" style="width: 50% ;height:100px" required />


            </div>
                </p>

            </div>
        </div>

        <button type="button" id="button1" ng-click="previous()">السابق</button>
        <button type="button" id="button1" ng-click="next()">التالي</button>
        <button type="submit" id="button2">تسليم</button>
        <button type="button" id="button3" ng-click="openModal()"> حفظ الإ جابات</button>
    </form>
</div>


<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">حفظ الإجابات</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>هل تود حفظ الإجابات والتسليم فى وقت لاحق</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ﻻ</button>
                <button type="button" class="btn btn-primary" ng-click="tempSave()">نعم</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="submittAllAnswers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>من فضلك اجب جميع الاسئلة</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sentScuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>تم ارسال الطلب بنجاح</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reloadPage()">إغلاق</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="submittModal" tabindex="-1" role="dialog" aria-labelledby="esubmittModalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="esubmittModalModalLabel"> تسليم الإجابات</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>هل تود تسليم الاجابات كاملة</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ﻻ</button>
                <button type="button" id="submitBtn" class="btn btn-primary" >نعم</button>
            </div>
        </div>
    </div>
</div>
