
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>مسابقة الرحمانية</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="resources/css/selectize.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet">
    <link href="resources/css/css.css" rel="stylesheet">
    <link href="resources/css/font-awesome.min.css" rel="stylesheet">


    <!-- Bootstrap core CSS -->


</head>
<!-- NAVBAR
================================================== -->
<body ng-app="rahmania">

<header>
    <img id="logo" src="/resources/assets/images/4.png"/>
<!--    <div ng-if="authenticated">
        <div id="user" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <a class="fa fa-user"></a>
        </div>
        <div class="list" class="dropdown-menu list" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" type="button" ng-click="logout()"><p>تسجيل الخروج</p></a>
            <a class="dropdown-item"><p>تغيير كلمة المرور</p></a>
        </div>
    </div>-->



    <div ng-if="authenticated">
        <div class="dropdown"  >
                <a class="dropdown-toggle"  id="user"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user"></span>
                    <span  class="fa fa-ellipsis-v"></span>
                    <p class="userName"> <span > {{ user.name| limitTo: 15 }} {{user.name.length > 15 ? '..' : ''}} </span> </p>
                </a>

                <div class="dropdown-menu list" class="list" aria-labelledby="dropdownMenu2" style="margin-top: 12px;">
                    <p><li><a id="testA" class="dropdown-item" type="button"   data-toggle="modal" data-target="#changePasswordModal"><p>تغير كلمة المرور</p></a> </li></p>
                    <p><li><a class="dropdown-item" ng-click="logout()" class="fa fa-user" logout type="button"> <p>  خروج</p> </a></li></p>
                </div>



            </div>
    </div>


    <div ng-if="!authenticated" class="loginHeader">

        <p >  <a href="#/login" class="loginHeaderText">  تسجيل الدخول  </a></p>
    </div>

</header>


<img id="separator" src="/resources/assets/images/3.png"/>
<section>
    <div id="menu">
        <a ng-repeat="item in menueSet" ng-href="#{{item.url}}">{{item.name}}</a>
    </div>


    <!-- routing -->

    <div id="content" ng-view></div>


    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"> تعير كامة المرور</h3>
                    <a type="button" class="close"  aria-label="Close">
                        <span aria-hidden="true" ng-click="resetChangePassword()">&times;</span>
                    </a>
                </div>
                <form method="post"data-parsley-validate="" id="changePasswordForm">
                <div class="modal-body" style=" background-color: darkgrey;">

                        <label for="oldPassword"> كلمة المرور الحالية :</label>
                        <input type="password" id="oldPassword" t name="oldPassword" ng-model="changeReq.oldPassword"
                               title="Password Token" style="    margin-right: 35px !important;    margin-bottom: 10px;" required data-parsley-error-message="هذا الحقل مطلوب"/>

                        <label for="newPassword">كلمة المرور الجديدة :</label>
                        <input type="password" id="newPassword" name="newPassword" ng-model="changeReq.newPassword"
                               title="New password" style="    margin-right: 29px !important;    margin-bottom: 10px;" required data-parsley-error-message="هذا الحقل مطلوب"/>

                        <label for="confirmPassword">تأكيد كلمو المرور الجديدة</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" ng-model="changeReq.confirmPassword" required data-parsley-error-message="هذا الحقل مطلوب"/>
                        <span ng-show="changeReq.newPassword != changeReq.confirmPassword" class="danger" style="margin-left: 162px;" >غير متطابقة مع كلمة المرور</span>
                        <span ng-show="!bad(changePasswordErrorMessage)" class="danger" style="margin-left: 162px;" >{{changePasswordErrorMessage}}</span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  ng-click="resetChangePassword()">إغلاق</button>
                    <button type="submit" class="btn btn-primary">إرسال</button>
                </div>
                </form>
            </div>
        </div>
    </div>


</section>

<!-- FOOTER -->
<footer>
    <div id="social">
        <div>
            <p>
                <a class="fa fa-whatsapp" href="tel:0530544944"></a>
            </p>
            <p>0530544944</p>
        </div>
        <div>
            <p>
                <a class="fa fa-instagram" href="http://instagram.com/alrahmanyah"></a>
                <a class="fa fa-youtube" href="http://youtube.com/alrahmanyah"></a>
                <a class="fa fa-snapchat" href="http://snapchat.com/alrahmanyah"></a>
                <a class="fa fa-google-plus" href="http://googleplus.com/alrahmanyah"></a>
                <a class="fa fa-twitter" href="http://twitter.com/alrahmanyah"></a>
            </p>
            <p>alrahmanyah</p>
        </div>
    </div>
    <img id="logo_1" src="/resources/assets/images/10.png"/>
</footer>
<script src="/resources/js/jquery-3.2.1.min.js"></script>
<script src="/resources/js/selectize.min.js"></script>

<script src="./webjars/angularjs/1.4.8/angular.js"></script>
<script src="./webjars/angularjs/1.4.8/angular-resource.js"></script>
<script src="./webjars/angularjs/1.4.8/angular-route.js"></script>
<script src="/resources/js/angular-sanitize.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>


<script src="/resources/js/ng-pattern-restrict.js"></script>
<script src="/resources/js/angular-selectize.js"></script>
<script src="/resources/js/parsley.min.js"></script>

<script src="/resources/app/app.module.js"></script>
<script src="/resources/app/service.js"></script>
<script src="/resources/app/app.directives.js"></script>

</body>
</html>
