
<div class="formulaire">


        <div style="float: right ;margin-top: 30px">

            <div class="col-md-6" ng-if="!bad(image.imageName)">
                <label style="color:black"> صورة الجوائز </label><br>
                <a id="deleteImage" ng-click="deleteImage()"> <span class="glyphicon glyphicon-trash"></span> </a>
            </div>

            <div class="col-md-6" ng-show="bad(image.imageName)">
            <input class="form-control"  type="file" file-model="file"id="imageUploader" placeholder="Upload File"    required data-parsley-error-message="من فضلك اختر فيديو"/>
            </div>


        </div>



    <div ng-form="" id="addPrizfore" name="addPrizeform" novalidate  data-parsley-validate="" autocomplete="off"  style="float: right; margin-top: 70px">

    <div id="table" style="margin-top: 70px">

        <div class="form-group">
        <label style="color:black"> الجائزة </label><span class="requried">*</span>
        <input type="text" name="prize" ng-model="prize.description" ng-pattern-restrict="{{arabicOnly}}" required data-parsley-validate=""/>
        <span ng-show=" addPrizeform.prize.$error.required" class="danger" style="margin-left: 162px;">هذا الحقل مطلوب باللغة العربية </span>
        </div>



        <button ng-click="addPrize()" class="standardButton" ng-disabled="addPrizeform.$invalid" ng-show="isAddPrize">اضافة</button>
        <button type="button" class="standardButton" ng-disabled="addPrizeform.$invalid" ng-show="!isAddPrize" ng-click="editPrize(prize)"> تعديل</button><br>


</div>
</div>
<div>

    <form>

        <div style="float: right">
            <h3>جوائز المسابقة</h3>
        <img style="width: 50%" ng-src="resources/image/competitionImage.jpg">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">الجائزة</th>
                <th style="text-align: center;"> </th>
                <th style="text-align: center;"> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in prizes">
                <td scope="row">{{$index +1}}</td>
                <td> {{item.description}}</td>
                <td><a ng-click="prepareEditPrize($index)"> تعديل<span class="glyphicon glyphicon-edit"></span> </a></td>
                <td><a class=".btn-danger" ng-click="deletePrize(item.id)">حذف <span class="glyphicon glyphicon-trash"></span> </a></td>
            </tr>

            </tbody>
        </table>
    </form>
</div>
</div>
