<style>

	form p{
		text-align: right;
	}
	#content{
		padding: 40px 10%;
	}
	#content p{
		text-align: right;
	}

</style>

<div id="content">


		<div class="formulaire">

			<div >
				<div ng-if="item.type=='multichoice'">
						<label>{{item.question}}</label><br/>
						 <label > </label> <br/>
				</div>
				<div ng-if="item.type=='fillGap'">
					<display-gap item="item" ng-model="ngModel"></display-gap>
				</div>


			</div>

		</div>



	<div class="formulaire">
		<form id="table">
			<div class="control-button">
				<button ng-click="moveToParticipated()">نقل إلى "المشاركين"</button>
				<button ng-click="elimenate()">استبعاد</button>
			</div>

			<div  >

				<table class="table table-striped "  style="margin-top: 30px;table-layout: fixed ;">
					<thead class="thead-light ">
					<tr>
						<th style="text-align: center;">#</th>
						<th style="text-align: center;">السؤال</th>
						<th style="text-align: center;">الإجابة</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in questions track by $index"  ng-if="item.type=='multichoice'">
						<td>{{$index+1}}</td>
						<td><label>{{item.question}}</label></td>
						<td><label ng-bind="getQuestionAnswer( item,  item.answerId)"></label></td>
					</tr>
					<tr ng-repeat="item in questions track by $index"  ng-if="item.type=='fillGap'">
						<td>{{$index+1}}</td>
						<td><div ng-if="item.type=='fillGap'">
							<display-gap-answer item="item" ng-model="ngModel"></display-gap-answer>
						</div></td>
						<td></td>
					</tr>


					<tr ng-repeat="item in questions track by $index"  ng-if="item.type=='wQuestion'">
						<td>{{$index+1}}</td>
						<td><label>{{item.question}}</label></td>
						<td ><div style=" word-wrap: break-word;   width: 50% !important;" ng-bind="item.answer"></div></td>
					</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>


</div>


<!-- Modal -->
<div class="modal fade" id="elimnateModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<p>تم نقل الطالب الى المستبعدين بنجاح</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"ng-click="goToCorrection('elimnateModal')">إغلاق</button>
			</div>
		</div>

	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="particpateModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<p>تم نقل الطالب الى المرشحين بنجاح</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"  ng-click="goToCorrection('particpateModal')">إغلاق</button>
			</div>
		</div>

	</div>
</div>

